.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
  letter-spacing: 0.06rem;
}

.pinyon-script-large {
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 0.06rem;
  text-align: center;
}

.playfair {
  font-family: "Playfair", serif;
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}

.playfair-sm {
  font-family: "Playfair", serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}

body {
  font-family: "IM Fell English";
  background-color: ivory;
}

nav {
  font-family: "IM Fell English SC";
  border: 0.125rem solid #2C2D2D;
  outline: 0.125rem solid #2C2D2D;
  outline-offset: -0.25rem;
}

h2 {
  font-family: "IM Fell English SC";
}

.carousel-inner img {
  width: 100%;
  height: 90vh;
  max-height: 45rem !important;
  object-fit: cover;
  display: block;
}

.frame {
  margin-top: 3.75rem;
  max-width: 75rem;
  padding: 2.25rem;
  border: 0.2rem solid #2C2D2D;
  box-shadow:
    0 0 0 0.5rem ivory,
    0 0 0 0.75rem #2C2D2D;
  position: relative;
  margin-bottom: 3.75rem;
}

/*.frame::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4.5rem;
  height: 0.0625rem;
  background-color: #2C2D2D;
  display: block;
  width: 90vw;
  left: 50%;
  transform: translateX(-50%);
}*/

.frame > .text {
  padding-top: 0 !important;
}

.black-frame {
  margin-top: 2rem;
  background-color: #2C2D2D;
  padding-bottom: 2rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  color: ivory;
  border: 0.25rem dotted ivory;
}

.floral-dec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floral-dec::before,
.floral-dec::after {
  content: "⁕";
  display: inline-block;
  margin: 0 1rem;
  font-size: 2rem;
  color: ivory;
  vertical-align: middle;
}

.close-p {
  margin-top: 0.06rem;
  margin-bottom: 0.06rem;
}

img {
  filter: grayscale(100%);
}

.card,
.card-img-top {
  border-radius: 0 !important;
}

.section-divider {
  position: relative;
  margin: 3.75rem 0;
  padding-top: 1.25rem;
}

.section-divider::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 0.125rem;
  background-color: #2C2D2D;
}

.dec-frame2 {
  overflow: visible;
  border: 1.25rem solid transparent;
  
  
  border-image-source: url('../images/frame-giusto.png');
  border-image-slice: 30;
  border-image-repeat: round;
  padding: 1.5rem 2rem; 
  max-width: 55rem;
  margin: 0 auto;
  box-sizing: border-box;
  
}

.footer-cl {
  margin-top: 5rem;
  font-family: "IM Fell English SC";
  border: 0.125rem solid ivory;
  outline: 0.125rem solid ivory;
  outline-offset: -0.25rem;
  background-color: #2C2D2D;
  color:ivory;
}


.link {
  color:white;

}
#hist {
  background-color: ivory;
  color: #2C2D2D;
}

#pop-cult {
  background-color: ivory;
  color: #2C2D2D;
}

.button {
  display: inline-block;
  border-radius: 3rem;
  width: fit-content;
  padding: 0.6rem 1.25rem;
  font-size: 1.125rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 0.6rem;
  opacity: 1;
  border: 0.2rem dashed black;
}

.button.active {
  background-color: black !important;
  color:ivory !important;
}

.button:not(.active):hover {
  background-color: black  !important;
  color: ivory !important;
}

.nar-text {
  text-align: center;
}

.time-bubble {
  display: inline-block;
  padding: 6.25rem 8.75rem;
  background-image: url('../images/TM-frame.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.section-lower-title {
  margin-top: 4.5rem;
}

.comic-map {
  margin-top: 2.5rem;
  position: relative;
  overflow: visible;
}

.margin {
  margin-top: 2.5rem;
}

.margin-ex {
  margin-top: 2.5rem !important;
}

.ex-black-frame {
  background-color: #2C2D2D;
  padding: 1rem;
  color: ivory;
  border: 0.2rem dotted ivory;
  width: 28rem !important; /* distacco dal bordo della colonna */
  box-sizing: border-box;
}



@media (max-width: 70rem) {
  .ex-black-frame {
    align-items: center;
    margin: auto;
    margin-top: 2rem;
  }
}



.ex-black-frame a {
  color: ivory;
  text-decoration: none;
}

.ex-black-frame a:hover {
  color: grey;
  text-decoration: none;
}

.comic-map::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  width: 12%;
  aspect-ratio: 1/1;
  background-image: url("../images/map-img-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.comic-map::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateY(-50%);
  width: 11%;
  aspect-ratio: 1/1;
  background-image: url("../images/map-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

@media (max-width: 62rem) {
  .comic-map::before,
  .comic-map::after {
    display: none;
  }
}

.room {
  cursor: pointer;
}

.room1,
.room2,
.room3,
.room4 {
  fill: grey;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
}

.room1:hover,
.room2:hover,
.room3:hover,
.room4:hover {
  fill: #2C2D2D;
  fill-opacity: 1;
}

.room1:hover ~ .lab1,
.room2:hover ~ .lab2,
.room3:hover ~ .lab3,
.room4:hover ~ .lab4 {
  fill: ivory;
}

.corr-pop {
  fill:ivory;
  stroke: #333;
  stroke-width: 0.1em;
  fill-opacity: 0.5;
}

.img-comic {
  position: relative;
  text-align: center;
  margin-top: 2rem;
  overflow: visible;
}

.img-comic img.item-img {
  display: block;
  max-width: 100%;
  margin-top: 2.5rem;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 34.5rem;
  height: auto;
  aspect-ratio: 4 / 3.5;
  border: 0.2rem solid #2C2D2D;
  margin-bottom: 1.25rem;
  box-shadow:
    0 0 0 0.5rem ivory,
    0 0 0 0.75rem #2C2D2D;
}

#titolo-item::before,
#titolo-item::after {
  content: "⁕";
  display: inline-block;
  margin: 0 1rem;
  font-size: 2rem;
  color: #2C2D2D;
  vertical-align: middle;
}

#carousel-container {
  position: relative;
  width: 34.5rem;
  max-width: 34.5rem;
  margin: 0 auto;
  
}

#table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  margin-top: 2.5rem;
  height: 1.25rem;
}

#table th,
#table td {
  border: 0.0625rem solid #2C2D2D;
  padding-top: 1.875rem !important;
}

#metadataTable td,
#metadataTable th {
  background-color: ivory !important;
}


.meta-comic {
  padding-top: 0.3rem;
  padding-bottom: 2.5rem;
  background-color: #2c2d2d41;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  box-sizing: border-box;
  border: 0.2rem dotted #2C2D2D;
}

.button-diff{
  display: inline-block;
  border-radius: 3rem;
  width: fit-content;
  padding: 0.6rem 1.25rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 0.3rem;
  opacity: 1;
  color:black;
  border: 0.2rem dashed black;
}

.button-diff:not(.active):hover {
  background-color: black !important;
  color: ivory !important;
}

.button-diff.active {
  background-color: black;
  color: ivory;
}

.button-diff-n {
  display: inline-block;
  border-radius: 3rem;
  width: fit-content;
  padding: 0.6rem 1.25rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 0.3rem;
  opacity: 1;
  border: 0.2rem dashed black;
}

.button-diff-n:hover {
  background-color: black !important;
  color: ivory !important;
}

#previousButton,
#nextButton {
  position: relative;
  left: 48%;
  transform: translateX(-48%);
  margin-top: 2rem;
}


.dec-frame2.comic-map::before,
.dec-frame2.comic-map::after {
    content: none !important;
}

figure, figcaption{
  text-align: center; }

.header-inline {
  display: flex;         
  align-items: center;   
  gap: 15px;             
  margin-bottom: 10px;  
}
.img-bozz{
    max-width: 25%;  
    height: auto;
}

#items-location a {
  color:#2C2D2D;
}

#items-location a:hover {
  color:grey;
}

#git-maria {
  color:#2C2D2D;
}

#git-maria:hover {
  color:grey;
}


#git-alice {
  color:#2C2D2D;
}

#git-:hover {
  color:grey;
}