.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #FF69B4 !important;
  font-family: "Bangers", system-ui !important;
  background-image: radial-gradient(circle, white 10%, transparent 20%);
  background-repeat: repeat;
  background-size: 2.5rem 2.5rem;
  background-position: 0 0;
}

.nav-cl {
  background-color: DodgerBlue;
  border-top: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
}

.nav-text {
  color: yellow !important;
  text-shadow:
    -0.125rem 0.125rem 0 black,
     0.125rem 0.125rem 0 black;
}

.nav-link:hover {
  color: #FFA500 !important;
}

.nav-link.dropdown-toggle.show,
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle:active {
  color: #FFA500 !important;
}

.dropdown-item {
  color: black;
}

.dropdown-item:hover {
  color: yellow !important;
  background-color: dodgerblue !important;
}


.carousel-caption {
  color: yellow !important;
  text-shadow:
    -0.125rem 0.125rem 0 black,
     0.125rem 0.125rem 0 black;
}

p {
  color: black;
}

.title-bubble {
  float: left;
  width: 23.75rem;
  height: 15.625rem;
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.125rem;
  margin-bottom: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title-bubble h2 {
  text-align: center;
  margin-left: 0.625rem;
  color: yellow;
  text-shadow:
    -0.125rem 0.125rem 0 black,
     0.125rem 0.125rem 0 black;
}

/*.clearfix {
  clear: both;
}*/

.items-bubble {
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 18.75rem;
  height: 12.5rem;
}

.items-bubble h2 {
  margin-bottom: 1.25rem;
  text-align: center;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

.special-txt {
  color: darkblue;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
  font-size: x-large;
}

.pop-style .carousel-inner {
  position: relative;
}

.pop-style .carousel-inner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/zoomeffect.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 0;
}


.pop-style .carousel-item {
  width: 100%;
  height: 90vh;
  /*max-height: none;*/
  object-fit: cover;
  
}


.pop-style .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-wrapper.pop-style {
  border: 0.1875rem solid black;
  border-radius: 2.5rem 2.5rem 1.25rem 1.25rem;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0);
  overflow: hidden;
  width: 100%;
  max-width: 87.5rem;
  margin: 1.875rem auto;
}

.comic {
  background-color: wheat;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  padding-bottom: 1.875rem;
  border-radius: 2.5rem 2.5rem 1.25rem 1.25rem;
  border: 0.125rem solid black;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
}

.comic-item {
  background-color: wheat;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  padding-bottom: 1.875rem;
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important;
  border-radius: 2.5rem 2.5rem 1.25rem 1.25rem;
  border: 0.125rem solid black;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
}


.card1 {
  background-color: rgba(255,0,0,0.5) !important;
  box-shadow: -0.5rem 0.5rem 0 black;
}

.card2 {
  background-color: rgba(0,0,255,0.5) !important;
  box-shadow: -0.5rem 0.5rem 0 black;
}

.card3 {
  background-color: rgba(59,212,59,0.5) !important;
  box-shadow: -0.5rem 0.5rem 0 black;
}

.card4 {
  background-color: rgba(128,0,128,0.5) !important;
  box-shadow: -0.5rem 0.5rem 0 black;
}

.text {
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: x-large;
}

.item-text {
  text-align: center;
}

.time-txt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comic-time {
  background-color: wheat;
  padding: 2.5rem 1.25rem;
  border-radius: 2.5rem 2.5rem 1.25rem 1.25rem;
  border: 0.125rem solid black;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
  text-align: center;
}

.comic-time > .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.time-bubble {
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 18.75rem;
  height: 12.5rem;
}

.time-bubble h2 {
  margin-bottom: 1.25rem;
  text-align: center;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}


.timeline-link {
  color: blue;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
  font-size: x-large;
}

.timeline-link:hover {
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: x-large;
}

.link {
  color: blue;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
  font-size: 1.15rem;
}

.link:hover {
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: 1.15rem;
}

.map-link {
  color: blue;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
  text-decoration: none;
}

.map-link:hover {
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  text-decoration: none;
}

ol li::marker {
  color: blue;
  font-weight: bold;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
}

ul > li {
  color:black;
  font-size: larger;
}

ul > li::marker {
  color: black;
  font-size: 1.5625rem;
}

.elizI {
  color: red;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: x-large;
  letter-spacing: 0.125rem;
}

.vict {
  color: blue;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: x-large;
  letter-spacing: 0.125rem;
}

.elizII {
  color: green;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: x-large;
  letter-spacing: 0.125rem;
}

.diana {
  color: purple;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: x-large;
  letter-spacing: 0.125rem;
}

.button {
  display: block;
  width: fit-content;
  padding: 0.9375rem 1.5625rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0.3125rem solid black;
  border-radius: 0.9375rem;
  box-shadow: 0 0.5625rem black;
  opacity: 1;
}

.button:active {
  box-shadow: 0 0.2125rem #666;
  transform: translateY(0.25rem);
}

.button.active {
  box-shadow: 0 0.2125rem black; 
  transform: translateY(0.25rem); 
}

#hist {
  background-color: red;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

#pop-cult {
  background-color: purple;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

.comic-nar {
  background-color: wheat;
  max-width: 62.5rem;
  border-radius: 2.5rem 2.5rem 1.25rem 1.25rem;
  border: 0.125rem solid black;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
  text-align: center;
  padding-bottom: 2.5rem;
}

.nar-text {
  text-align: center;
}

.nar-bubble {
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 43.75rem;
  height: 18.75rem;
}

.nar-bubble h2 {
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  text-align: center;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

#hist-nar {
  text-decoration: underline;
  text-decoration-thickness: 0.1875rem;
  color: darkblue;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
  font-size: larger;
  letter-spacing: 0.05rem;
}

#pop-nar {
  text-decoration: underline;
  text-decoration-thickness: 0.1875rem;
  color: darkblue;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
  font-size: larger;
  letter-spacing: 0.05rem;
}

.footer-cl {
  margin-top: 7.5rem;
  padding-top: 1.875rem;
  background-color: DodgerBlue;
  border-top: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
}

.foot-git {
  padding-top: 0.9375rem;
}

.foot-text {
  color: black;
  text-shadow: -0.125rem 0.125rem 0 white, 0.125rem 0.125rem 0 white;
}

.foot-text2 {
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: x-large;
  letter-spacing: 0.125rem;
}

.comic-map {
  background-color: wheat;
  border: 0.1875rem solid black;
  text-align: center;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
  border-radius: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem !important;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

/*#path {
  margin-top: 3.125rem;
}*/

.ex-bubble {
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6.25rem;
  width: 25rem;
  height: 12.5rem;
}

.ex-bubble h2 {
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  text-align: center;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

.ex-comic {
  background-color: wheat;
  border: 0.1875rem solid black;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
  border-radius: 2.5rem;
  margin-top: 2.5rem !important;
  width: 28rem !important;
  margin: 0 auto;
  margin-left:0;

}

@media (max-width: 70rem) {
  .ex-comic {
    align-items: center !important;
    margin: auto;
    margin-top: 2rem;
  }
}

.map-title {
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: 2.5rem;
  letter-spacing: 0.1875rem;
}

.room1 {
  fill: red;
  fill-opacity: 0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
}

.room1:hover {
  fill: red;
  fill-opacity: 1;
}

.room2 {
  fill: blue;
  fill-opacity: 0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
}

.room2:hover {
  fill: blue;
  fill-opacity: 1;
}

.room3 {
  fill: green;
  fill-opacity: 0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
}

.room3:hover {
  fill: green;
  fill-opacity: 1;
}

.room4 {
  fill: purple;
  fill-opacity: 0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
}

.room4:hover {
  fill: purple;
  fill-opacity: 1;
}

.corr-pop {
  fill: yellow;
  stroke: #333;
  stroke-width: 0.1em;
  fill-opacity: 0.5;
}

.label-txt {
  fill: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}


/* EXHIBITION.HTML */

.img-comic {
  position: relative;
  text-align: center;
  margin-top: 1.875rem;
  /*overflow: hidden;*/
}

.img-comic img.item-img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  border: 0.1875rem solid black;
  border-radius: 0.9375rem;
  box-sizing: border-box;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
  width: 34.375rem;
  height: 31.25rem;
}

#titolo-item {
  color: yellow;
  font-size: 2.5rem !important;
  text-shadow:
    -0.125rem 0.125rem 0 black,
     0.125rem 0.125rem 0 black;
}


table#table {
  height: 100%;
}

#table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  border: 0.125rem solid black !important;
  margin-top: 2.5rem !important;
  margin: auto;
  min-height: 18.75rem;
  max-width: 30rem;
  width: 100%;
}

#table th,
#table td {
  border: 0.0825rem solid black;
  padding-top: 1.875rem !important;
}

.table-txt {
  font-size: large;
  letter-spacing: 0.1rem;
  color: darkblue !important;
  text-shadow: -0.125rem 0.125rem 0 yellow, 0.125rem 0.125rem 0 yellow;
}

#metadataTable td,
#metadataTable th {
  background-color: rgb(245, 222, 179) !important;
}/*rgba(30, 169, 255, 0.374)*/

.button-diff {
  display: inline-block;
  width: fit-content;
  padding: 0.9375rem 1.5625rem;
  font-size: 1.125rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0.3125rem solid black;
  border-radius: 0.9375rem;
  box-shadow: 0 0.5625rem black;
  margin: auto;
  opacity: 1;
}
@media (max-width: 768px) {
  .button-diff {
    display: block;
    margin: 0.75rem auto; /* spazio sopra e sotto */
  }
}


.button-diff:active {
  box-shadow: 0 0.2125rem #666;
  transform: translateY(0.25rem);
}

#difficulty {
  text-align: center;
}

#ChildrenDifficulty {
  background-color: red;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

#AdultDifficulty {
  background-color: purple;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

#card-text-item article {
  border: 0.1875rem solid black;
  border-radius: 0.9375rem;
  padding: 0.9375rem;
  background-color: #fff8dc;
  max-width: 100%;
  display: inline-block;
}

#titolo-item {
  margin-top: 0.9375rem;
}

#showLess {
  background-color: green;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

#showMore {
  background-color: blue;
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

.button-diff-n {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 0.625rem;
  font-size: 0.9375rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0.125rem solid black;
  border-radius: 0.9375rem;
  box-shadow: 0 0.125rem black;
  opacity: 1;
  letter-spacing: 0.0625rem;
}

.button-diff-n:active {
  box-shadow: 0 0.2125rem #666;
  transform: translateY(0.25rem);
}

#previousButton,
#nextButton {
  position: relative;
  left: 48%;
  transform: translateX(-48%);
  margin-top: 1.875rem;
  background-color: rgba(255, 255, 3, 0.56);
}

.meta-comic {
  margin-top: 1.875rem !important;
  padding-bottom: 2.5rem;
  background-color: #faf8fa41;
  border: 0.125rem solid black;
  border-radius: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin:auto;
  width: 100%;
  max-width: 74rem;
  box-sizing: border-box;
}

/* documentation page */

.doc-bubble {
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top: 3rem;
  width: 29rem;
  height: 16rem;
}

.doc-bubble h1 {
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  text-align: center;
  color: yellow ;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
}

.doc-comic {
  background-color: wheat;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  padding: 1.875rem;
  border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
  border: 0.125rem solid black;
  box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.5);
}

figure, figcaption{
  text-align: center; }

.header-inline {
  display: flex;        
  align-items: center; 
  gap: 15px;             
  margin-bottom: 10px;   
}

.img-bozz{
    max-width: 25%;  
    height: auto;
    border: 0.01rem solid black;
    border-radius:  0.5rem 0.5rem 0.5rem 0.5rem;
}

.text-doc {
  color: yellow;
  text-shadow: -0.125rem 0.125rem 0 black, 0.125rem 0.125rem 0 black;
  font-size: xx-large;
}