.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
  letter-spacing: 1px;

}

.pinyon-script-large {
  font-family: "Pinyon Script", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  letter-spacing: 1px;

}


.im-fell-english-regular-italic {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: italic;
}

.im-fell-english-sc-regular {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair {
  font-family: "Playfair", serif;
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  line-height:1.1;
  text-align: center;
  
  
}

.playfair-sm {
  font-family: "Playfair", serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  line-height:1.1;
  text-align: center;
  
  
}

body {font-family: "IM Fell English";}

nav {
    font-family: "IM Fell English SC";
    border: 2px solid #2C2D2D;
    outline: 2px solid #2C2D2D;
    outline-offset: -4px;
}
h2 {font-family: "IM Fell English SC"}

.carousel-inner img {
  width: 1550px !important;
  height: 710px !important;
  object-fit: cover;   /* scala senza deformare */
  display: block;
}

.frame {
    margin-top: 60px;
    padding: 35px;
    border: 3px solid #2C2D2D;   
    box-shadow:
    0 0 0 8px white,          
    0 0 0 12px #2C2D2D;
    position: relative;
    margin-bottom: 60px;
    }

.frame::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;      
  height: 1px;
  background-color: #2C2D2D;
  display: block;          
  width: 90vw; 
  left: 50%;               
  transform: translateX(-50%);
  
}

.frame > .text {
  padding-top: 0 !important;
}

.black-frame {
    margin-top:130px;
    background-color: #2C2D2D;
    padding-bottom:30px;
    padding-left:40px;
    padding-right:40px;
    color: white;
    border: 4px dotted white;

}




.floral-dec {
  display: flex;   /* importante che non sia solo 'block' */
  justify-content: center;   /* centra il testo */
  align-items: center;
}

.floral-dec::before,
.floral-dec::after {
  content: "⁕";
  display: inline-block;
  margin: 0 15px;
  font-size: 2rem;
  color: white;
  vertical-align: middle; /* mantiene il fiorellino allineato al testo */
}

.close-p {
  margin-top:1px;
margin-bottom:1px}

img {
  filter: grayscale(100%);
}

.card, 
.card-img-top {
  border-radius: 0 !important;
}

.section-divider {
  position: relative;
  margin: 60px 0;
  padding-top: 20px;
   /* spazio sopra e sotto */
}

.section-divider::before {
  content: "";
  position: absolute;
  left:0;
  right:0;
  top: 0;              /* sopra al contenuto */
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 2px;
  background-color: #2C2D2D;
;
}

.dec-frame {
  overflow: visible;
  border: 20px solid transparent;   /* spessore del bordo */
  border-image: url('../images/frame-giusto.png') 30 round; /* il tuo PNG/SVG */
  ;
  width: 100vw;
  max-width: 1200px; }

.footer-cl {
  margin-top: 80px;
    font-family: "IM Fell English SC";
    border: 2px solid white;
    outline: 2px solid white;
    outline-offset: -4px;
    background-color:#2C2D2D;
    color:white 
  };

#hist {background-color: #2C2D2D !important;}

.button {
  display:block;
  border-radius: 50px;
  width: fit-content;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  opacity: 1;
  border: 3px dashed black;
  

  
}

#hist{background-color: white ;
color: #2C2D2D ;;

 }

#pop-cult{background-color: white ;
color: #2C2D2D; }


.button:hover {
  background-color: black !important;
  color: white !important;
}

.nar-text {text-align: center;}

.time-bubble {
  display: inline-block;             /* Adatta la dimensione al contenuto */
  padding: 100px 140px;                /* Spazio interno per il testo */
  background-image: url('../images/TM-frame.png'); /* Percorso del PNG */
  background-size: contain;          /* Ridimensiona per adattarsi */
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
 
}

.section-lower-title { margin-top: 70px;}

.comic-map {margin-top:40px}

.margin {margin-top:40px !important;}

.ex-black-frame {
    background-color: #2C2D2D;
    padding-bottom:20px;
    padding-top: 20px;;
    padding-left:20px;
    padding-right:1px;
    color: white;
    margin-right:40px;    
    width: 430px;
    border: 3px dotted white;

}

.ex-black-frame a {color:white;
text-decoration: none;}

.ex-black-frame a:hover {color:grey;
text-decoration: none;}

.comic-map {
  position: relative;       /* necessario per i pseudo-elementi */
  overflow: visible;        /* immagini fuori dai margini visibili */
}


.comic-map::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 150px;            /* distanza dal bordo sinistro della div */
  transform: translateY(-50%);
  width: 170px;             /* larghezza immagine */
  height: 170px;            /* altezza immagine */
  background-image: url("../images/map-img-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

/* Immagine a sinistra */
.comic-map::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1200px;            /* distanza dal bordo sinistro della div */
  transform: translateY(-50%);
  width: 150px;             /* larghezza immagine */
  height: 150px;            /* altezza immagine */
  background-image: url("../images/map-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

@media (max-width: 992px) {
  .comic-map::before,
  .comic-map::after {
    display: none;
  }
}

.room {cursor: pointer;}
/* change color of the rooms */

.room1 {
  fill: grey;
  fill-opacity:0.5;
  stroke: black;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room1:hover {
  fill: #2C2D2D;
   fill-opacity: 1; 
  }

.room1:hover ~ .lab1 {
  fill: white;
}


.room2 {
  fill: grey;
  fill-opacity:0.5;
  stroke: black;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room2:hover {
  fill: #2C2D2D;
   fill-opacity: 1;
  }

.room2:hover ~ .lab2 {
  fill: white;
}
.room3 {
 fill: grey;
  fill-opacity:0.5;
  stroke: black;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room3:hover {
  fill: #2C2D2D;
   fill-opacity: 1; 
  }

.room3:hover ~ .lab3 {
  fill: white;
}
.room4 {
  fill: grey;
  fill-opacity:0.5;
  stroke: black;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room4:hover {
  fill: #2C2D2D;
   fill-opacity: 1; 
   
  }

  
.room4:hover ~ .lab4 {
  fill: white;
}


.corr-pop {
  fill: white;
  stroke: #333;
  stroke-width: 0.1em;
  fill-opacity:0.5
  }





