.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-regular-italic {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: italic;
}

.im-fell-english-sc-regular {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair {
  font-family: "Playfair", serif;
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  line-height:1.1;
  text-align: center;
  
  
}

body {font-family: "IM Fell English";}

nav {
    font-family: "IM Fell English SC";
    border: 2px solid #2C2D2D;
    outline: 2px solid #2C2D2D;
    outline-offset: -4px;
}
h2 {font-family: "IM Fell English SC"}

.carousel-inner img {
  width: 1550px !important;
  height: 710px !important;
  object-fit: cover;   /* scala senza deformare */
  display: block;
}

.frame {
    margin-top: 60px;
    padding: 35px;
    border: 3px solid #2C2D2D;   
    box-shadow:
    0 0 0 8px white,          
    0 0 0 12px #2C2D2D;
    position: relative;
    margin-bottom: 60px;
    }

.frame::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;      
  height: 1px;
  background-color: #2C2D2D;
  display: block;          
  width: 90vw; 
  left: 50%;               
  transform: translateX(-50%);
  
}

.frame > .text {
  padding-top: 0 !important;
}

.black-frame {
    margin-top:130px;
    background-color: #2C2D2D;
    padding:45px;
    color: white;

}




.floral-dec {
  display: flex;   /* importante che non sia solo 'block' */
  justify-content: center;   /* centra il testo */
  align-items: center;
}

.floral-dec::before,
.floral-dec::after {
  content: "✿";
  display: inline-block;
  margin: 0 15px;
  font-size: 2rem;
  color: white;
  vertical-align: middle; /* mantiene il fiorellino allineato al testo */
}
