
body{
    background-color:#262626 !important;
}

h1, h2, h4 {
    font-family: "Cascadia Code", sans-serif;
    color: #00e600 !important;
}

p {
    font-family: "Cascadia Code", sans-serif;
    color: white;
}


.navbar{
    font-family: "Cascadia Code", sans-serif;
}

.nav-text{
    color: #cc00ff !important;
}
.nav-link:hover 
  /* colore quando passi sopra */

.pop-style .carousel-inner {
  position: relative;
}

.special-txt {
    font-weight: 900;
    text-decoration: underline;
}

/*Style card in index*/
.card {
    border-style: solid !important; 
    border-color: #00ffff !important;
    border-width: 4px !important;
    color: #00e600;
    background-color: #262626;
    border-radius: 0px;
}

/*Style in Map*/

#map{
    font-family: "Cascadia Code", sans-serif;
    color: white !important;
}

/*Style card item in exhibition*/
.card_item {
    font-family: "Cascadia Code", sans-serif;
    color: white;
    border-style: solid !important; 
    border-radius: 0px !important;
    border-color: #00ffff!important;
    border-width: 4px !important;
    
}

.card-header {
    padding: 10px !important;
    border-bottom-style: solid !important;
    border-color: #00ffff !important;
    color: #00e600!important;
}

.table{
    padding-top: 10px !important;
}

#ChildrenDifficulty{
    background-color: transparent;
    border: 3px solid;
    border-color: #cc00ff;
}

.card-footer {
    padding: 8px !important;
    border-top-style: solid !important;
    border-color: #00ffff !important;
    font-family: "Cascadia Code", sans-serif !important;
}

/*Style Footer*/
.footer{
    font-family: "Cascadia Code", sans-serif;
    color: #cc00ff !important;
    padding-left: 50px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}