
body{
    background-color:#262626 !important;
}

h1, h2, h4 {
    font-family: "Cascadia Code", sans-serif;
    color: #00e600 !important;
}

p {
    font-family: "Cascadia Code", sans-serif;
    color: white;
}


.navbar{
    font-family: "Cascadia Code", sans-serif;
    background-color: black !important;
}

.nav-link.active {
    background-color: #cc00ff;
    color: #000 !important;
}

.nav-text{
    color: #cc00ff !important;
}
.nav-link:hover {
    background-color: #cc00ff;
    color: #000 !important;
    box-shadow: 0 0 20px #00ff41; /* Bagliore più intenso */
    text-shadow: none;
}
  /* colore quando passi sopra */

.carousel-inner img {
  width: 1550px !important;
  height: 710px !important;
  object-fit: cover;   /* scala senza deformare */
  display: block;
}


/*Style dellapagina map*/
h1{
    padding-top: 4%;
    font-size: 100px !important;
}

.special-txt {
    padding-top: 6%;
    font-weight: 900;
}

.btn-group{
    padding-bottom: 5%;
}
.room { 
    fill:#cc00ff;
}
.room:hover {
    fill: #00ff41;
}

.label-txt {
    font-family: "Cascadia Code", sans-serif !important;
    font-size: 14px;
    text-align: center;
}

#map{
    font-family: "Cascadia Code", sans-serif;
    color: white !important;
}
.elizI{
    font-family: "Cascadia Code", sans-serif !important;
    color: white !important;
}
.vict{
    font-family: "Cascadia Code", sans-serif !important;
    color: white !important;
}
.elizII{
    font-family: "Cascadia Code", sans-serif !important;
    color: white !important;
}
.diana{
    font-family: "Cascadia Code", sans-serif !important;
    color: white !important;
}
ol {
    font-family: "Cascadia Code", sans-serif !important;
    color: white !important;
}

/*Style card in index*/
.card {
    border-style: solid !important; 
    border-color: #00ffff !important;
    border-width: 4px !important;
    color: #00e600;
    background-color: #262626;
    border-radius: 0px;
}



/*Style card item in exhibition*/
.card_item {
    font-family: "Cascadia Code", sans-serif;
    color: white;
   border-style: solid !important; 
    border-radius: 2px !important;
    border-color: #00ffff!important;
    border-width: 4px !important;
    
}

.card-header {
    padding: 10px !important;
    border-bottom-style: solid !important;
    border-color: #00ffff !important;
    color: #00e600!important;
}

.img-comic {
  position:relative;
  text-align: center; 
  margin-top: 30px;
  overflow: visible;
}

.img-comic img.item-img {
  display: block; 
  max-width: 100%;
  margin: 0 auto;     
  height: auto;
  border: 3px solid #00e600;  
  border-radius: 15px;    
  box-sizing: border-box;
  box-shadow: 0 6px 16px #00e600;
  width: 550px;
  height: 500px;
  
}

.table-responsive{
    padding-top: 30% !important;
}

#metadataTable td,#metadataTable th{
    font-family: "Cascadia Code", sans-serif;
}

#difficulty {
  display: flex; /* Rende il contenitore un flex container */
  gap: 10px;
}

#ChildrenDifficulty{
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-color: #cc00ff;
    box-shadow: 0 0 5px #cc00ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 7px;
}
#ChildrenDifficulty:hover {
    background-color: #cc00ff;
    color: #000;
    box-shadow: 0 0 20px #cc00ff; /* Bagliore più intenso */
}

#AdultDifficulty{
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-color: #cc00ff;
    box-shadow: 0 0 5px #cc00ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 7px;
}
#AdultDifficulty:hover {
    background-color: #cc00ff;
    color: #000;
    box-shadow: 0 0 20px #cc00ff; /* Bagliore più intenso */
}

#showLess{
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-color: #cc00ff;
    box-shadow: 0 0 5px #cc00ff;
    font-family: 'Courier New', Courier, monospace;
}
#showLess:hover {
    background-color: #cc00ff;
    color: #000;
    box-shadow: 0 0 20px #cc00ff; /* Bagliore più intenso */
}

#showMore{
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-color: #cc00ff;
    box-shadow: 0 0 5px #cc00ff;
    font-family: 'Courier New', Courier, monospace;
}
#showMore:hover {
    background-color: #cc00ff;
    color: #000;
    box-shadow: 0 0 20px #cc00ff; /* Bagliore più intenso */
}

#previousButton{
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-color: #cc00ff;
    box-shadow: 0 0 5px #cc00ff;
    font-family: 'Courier New', Courier, monospace;
}
#previousButton:hover {
    background-color: #cc00ff;
    color: #000;
    box-shadow: 0 0 20px #cc00ff; /* Bagliore più intenso */
}

#nextButton{
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-color: #cc00ff;
    box-shadow: 0 0 5px #cc00ff;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2% !important;
}
#nextButton:hover{
    background-color: #cc00ff;
    color: #000;
    box-shadow: 0 0 20px #cc00ff; /* Bagliore più intenso */
}


.card-footer {
    padding: 8px !important;
    border-top-style: solid !important;
    border-color: #00ffff !important;
    font-family: "Cascadia Code", sans-serif !important;
}

/* Pulsanti*/
#hist{
    background-color: #000; /* Sfondo nero profondo */
    color: #00ff41;        /* Verde Matrix classico */
    font-family: 'Courier New', Courier, monospace; /* Font stile terminale */
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border: 2px solid #00ff41;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    /* Effetto bagliore esterno */
    box-shadow: 0 0 5px #00ff41, inset 0 0 5px #00ff41;
    text-shadow: 0 0 8px #00ff41;
}
#hist:hover {
    background-color: #00ff41;
    color: #000;
    box-shadow: 0 0 20px #00ff41; /* Bagliore più intenso */
    text-shadow: none;
  }

#pop-cult{
    background-color: #000; /* Sfondo nero profondo */
    color: #00ff41;        /* Verde Matrix classico */
    font-family: 'Courier New', Courier, monospace; /* Font stile terminale */
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border: 2px solid #00ff41;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    /* Effetto bagliore esterno */
    box-shadow: 0 0 5px #00ff41, inset 0 0 5px #00ff41;
    text-shadow: 0 0 8px #00ff41;
}

#pop-cult:hover {
    background-color: #00ff41;
    color: #000;
    box-shadow: 0 0 20px #00ff41; /* Bagliore più intenso */
    text-shadow: none;
  }

/*Style Footer*/
.footer{
    font-family: "Cascadia Code", sans-serif;
    color: #cc00ff !important;
    padding-left: 50px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: black;
}