

body {
    background-color: #F6DFC1 !important;
}

.navbar {
    background-color: #fcf4e9 !important;
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal; 
    color: #262626;
    font-size: 25px !important;


}

p {
    font-family: "garamond", serif;
    color: #8c5826;
    
}
p.dropcap-paragraph::first-letter {
  float: left; /* Makes text wrap around the letter */
  font-size: 70px; /* Adjust size as needed */
  line-height: 60%; /* Aligns the baseline with the text lines */
  padding-right: 8px; /* Adds space between the cap and the text */
  font-family: garamond, serif; /* Use a distinct font if desired */
  /* Add other styling like color, background, etc. */
}

h1, h2, h4 {
    
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal; 
    color: #262626;
    font-size: 50px !important;
}

/*Style card in index*/
.card {
    border-style: solid !important; 
    border-radius: 15px !important;
    border-color: #990000 !important;
    border-width: 4px !important;
}

/*Style in Map*/

h1{
    padding-top: 4%;
    font-size: 100px !important;
}

.special-txt {
    padding-top: 6%;
    font-weight: 900;
}

.btn-group{
    padding-bottom: 5%;
}

.room {
    fill:#800000;
}

.room:hover {
    fill:#4d0000;
}

.label-txt {
    font-family: "garamond", serif !important;
    color: white !important;
}

#map{
    font-family: "garamond", serif;
    color: #8c5826;
}
.elizI{
    font-family: "garamond", serif !important;
    color: #8c5826;
}
.vict{
    font-family: "garamond", serif !important;
    color: #8c5826;
}
.elizII{
    font-family: "garamond", serif !important;
    color: #8c5826;
}
.diana{
    font-family: "garamond", serif !important;
    color: #8c5826;
}
ol{
    font-family: "garamond", serif !important;
    color: #8c5826 ;
    
}

/*Style card item in exhibition*/
.card_item {
    font-family: "garamond", serif;
    color: #8c5826;
    border-style: solid !important; 
    border-radius: 15px !important;
    border-color: #990000 !important;
    border-width: 4px !important;
    background-color: #f9e8d2;
}

.card-header {
    padding: 10px !important;
    border-bottom-style: solid !important;
    border-color: #990000 !important;
    color: #262626 !important;
}

.img-comic {
  position:relative;
  text-align: center; 
  margin-top: 30px;
  overflow: visible;
}

.img-comic img.item-img {
  display: block; 
  max-width: 100%;
  margin: 0 auto;     
  height: auto;
  border: 3px solid #990000;  
  border-radius: 15px;    
  box-sizing: border-box;
  width: 500px;
  height: 450px;
  
}



#metadataTable td,#metadataTable th{
    background-color: #f9e8d2;
    font-family: "garamond", serif;
}


#ChildrenDifficulty {
    font-family: "garamond", serif !important;
    background-color: #000066;
    border-color: #000066;
    color: #fcf4e9;
}

#AdultDifficulty {
    font-family: "garamond", serif !important;
    background-color: #000066;
    border-color: #000066;
    color: #fcf4e9;
}

#showLess{
    font-family: "garamond", serif !important;
    border-color: #000066;
    color: #000066;
    
}

#showMore{
    font-family: "garamond", serif !important;
    border-color: #000066;
    color: #000066;
}

#previousButton {
    background-color: #000066;
    border-color: #000066;
    font-family: "garamond", serif !important;
    color: #fcf4e9;
}

#nextButton {
    background-color: #000066;
    border-color: #000066;
    font-family: "garamond", serif !important;
    color: #fcf4e9;
}

.card-footer {
    padding: 8px !important;
    border-top-style: solid !important;
    border-color: #990000 !important;
    font-family: "garamond", serif !important;
}

/*style bottoni narrative*/
#hist{
  background: #f4e4bc;
  background: linear-gradient(135deg, #f4e4bc 0%, #d2b48c 100%);
  
  /* Bordo decorato */
  border: 4px double #5d4037;
  border-radius: 4px;
  
  /* Testo e font */
  color: #3e2723;
  font-family: 'garamond', serif; 
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#hist:hover {
  background: #e2d2a9;
  transform: translateY(-2px);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.6);
}

#pop-cult{
  background: #f4e4bc;
  background: linear-gradient(135deg, #f4e4bc 0%, #d2b48c 100%);
  
  /* Bordo decorato */
  border: 4px double #5d4037;
  border-radius: 4px;
  
  /* Testo e font */
  color: #3e2723;
  font-family: 'garamond', serif; 
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#pop-cult:hover{
    background: #e2d2a9;
    transform: translateY(-2px);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.6);
}

/*Style Footer*/
.footer{
    font-family: "garamond", serif;
    background-color: #663300;
    color: #F6DFC1;
    padding-left: 50px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;


}

