
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {background-color: #FF69B4 !important;
  font-family: "Bangers", system-ui !important;
  background-image: radial-gradient(circle, white 10%, transparent 20%);
  background-repeat: repeat;
  background-size: 40px 40px; /* distanza tra i pois */
 background-position: 0 0; }


.nav-cl{background-color: DodgerBlue;
border-top: 4px solid black;
border-bottom: 4px solid black;}

.nav-text {color: yellow !important;
 text-shadow:
      -2px  2px 0 black,
     2px  2px 0 black;
     }

.nav-link:hover {
  color: #FFA500 !important; /* colore quando passi sopra */
}
.nav-link.dropdown-toggle.show,
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle:active {
  color: #FFA500 !important;   /* colore che vuoi */
}
.carousel-inner img {
  width: 1550px;
  height: 710px;
  object-fit: cover;   /* scala senza deformare */
  display: block;
}

.dropdown-item {color:black;}
.dropdown-item:hover {color: yellow !important;
background-color: dodgerblue !important}

/*TITLE*/
h2 {color: yellow;
 text-shadow:
      -2px  2px 0 black,
     2px  2px 0 black;
     
     }

p {color: black}


.title-bubble {
  float:left;
  width: 380px;      /* prova una misura grande per vedere se appare */
  height: 250px;     /* idem: così SE ESISTE la vedi SICURO */
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2px;
  margin-bottom: 2px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow: hidden;
  

}

.title-bubble h2 {
  text-align: center;          /* centra il testo dentro il fumetto */
  margin-left: 10px;
  color: yellow;
  text-shadow:
    -2px 2px 0 black,
     2px 2px 0 black;
  
}

.clearfix {clear:both;
}
.items-bubble {
  background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px; 
  height: 200px;  

}

.items-bubble h2 {
  margin-bottom: 20px;
  text-align: center;
  color: yellow;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
}

.special-txt {color: darkblue;
text-shadow:
    -2px 2px 0 yellow,
     2px 2px 0 yellow;
    font-size: x-large;}



.pop-style .carousel-inner {
  position: relative;
}

.pop-style .carousel-inner::after {
  content: "";
  position: absolute;
  inset: 0; 
  background-image: url("../images/zoomeffect.png");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: 100% 100%; 
  z-index: 50;
}

.pop-style .carousel-item {
  position:relative;
  overflow:hidden;
  height: 710px; /* o la misura che vuoi tu */
}


.pop-style .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}  


.carousel-wrapper.pop-style {
  border: 3px solid  white;
  border-radius: 40px 40px 20px 20px;
  box-shadow: 0 6px 16px rgba(0,0,0);
  overflow: hidden;
  width: 1400px;
  margin: 30px auto;

  }
.comic {background-color: wheat;
margin-top: 60px;
margin-bottom:60px;
padding-bottom: 30px;
border-radius: 40px 40px 20px 20px; ;
border: 2px solid black;
box-shadow: 0 6px 16px rgba(0,0,0, 0.5)
}

.comic-item{background-color: wheat;
margin-top: 60px;
margin-bottom:60px;
padding-bottom: 30px;
padding-left:30px !important;
padding-right:30px !important;
border-radius: 40px 40px 20px 20px;
border: 2px solid black;
box-shadow: 0 6px 16px rgba(0,0,0, 0.5)
}

.card1 {background-color:  rgba(255, 0, 0, 0.5) !important;
  box-shadow:  -8px 8px 0px black;}

.card2 {background-color:  rgba(0, 0, 255, 0.5) !important;
  box-shadow:  -8px 8px 0px black;
}

.card3 {background-color:  rgba(59, 212, 59, 0.5)  !important;
;
               box-shadow:  -8px 8px 0px black;
            }

.card4 {background-color: rgba(128, 0, 128, 0.5) !important;
    box-shadow:  -8px 8px 0px black;}

.text {color:yellow; 
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
font-size: x-large; }


.item-text {text-align: center;}

.time-txt { display:flex;
  align-items:center;
  justify-content:center;}

.comic-time {
background-color: wheat;
 padding: 40px 20px;
border-radius: 40px 40px 20px 20px; ;
border: 2px solid black;
box-shadow: 0 6px 16px rgba(0,0,0, 0.5);
text-align: center;

}
.comic-time > .row {
  display: flex;
  flex-direction: column;  
  align-items: center;       
  text-align: center;         
}


.time-bubble {background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px; 
  height: 200px;  
}
.time-bubble h2 {
  margin-bottom: 20px;
  text-align: center;
  color: yellow;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
}

.timeline-link {color: blue; 
  text-shadow: -2px 2px 0 yellow, 2px 2px 0 yellow;
font-size: x-large;}

.timeline-link:hover {color: yellow;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
font-size: x-large;}

.link{color: blue; 
  text-shadow: -2px 2px 0 yellow, 2px 2px 0 yellow;
font-size: x-large;}

.link:hover {color: yellow;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
font-size: x-large;}

.map-link{color: blue; 
  text-shadow: -2px 2px 0 yellow, 2px 2px 0 yellow;
  text-decoration: none;}

.map-link:hover {color: yellow;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
  text-decoration: none;}

ol li::marker {
  color: blue; /* colore della letterina */
  font-weight: bold; 
  text-shadow: -2px 2px 0 yellow, 2px 2px 0 yellow;/* opzionale, se vuoi renderla più evidente */
}


ul > li::marker {
    color: black; /* colore dei dischi */
    font-size: 25px; /* opzionale, se vuoi renderli più grandi */
}

.elizI {color: red;   text-shadow: -2px 2px 0 black, 2px 2px 0 black; font-size: x-large; letter-spacing: 2px;}
.vict {color:blue;   text-shadow: -2px 2px 0 black, 2px 2px 0 black;font-size: x-large; letter-spacing: 2px;}
.elizII{color: green;  text-shadow: -2px 2px 0 black, 2px 2px 0 black;font-size: x-large; letter-spacing: 2px;}
.diana{color:purple;  text-shadow: -2px 2px 0 black, 2px 2px 0 black;font-size: x-large; letter-spacing: 2px;}

.button {
  display:block;
  width: fit-content;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0 9px black;
  margin: 10px;
  opacity: 1;
}

#hist{background-color: red ;
color: yellow;
 text-shadow: -2px 2px 0 black, 2px 2px 0 black;}

#pop-cult{background-color: purple;
color:yellow;
text-shadow: -2px 2px 0 black, 2px 2px 0 black;}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.comic-nar {background-color: wheat;
  width:1000px;
border-radius: 40px 40px 20px 20px ;
border: 2px solid black;
box-shadow: 0 6px 16px rgba(0,0,0, 0.5);
text-align: center;
padding-bottom: 40px;


}

.nar-text {text-align: center;}

.nar-bubble { background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 700px; 
  height: 300px;  

}

.nar-bubble h2 {
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: yellow;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
}

#hist-nar {text-decoration: underline;
text-decoration-thickness: 3px;}
#pop-nar  {text-decoration: underline;
  text-decoration-thickness: 3px;
}

.footer-cl{margin-top: 120px;
  padding-top:30px;
  background-color: DodgerBlue;
border-top: 4px solid black;
border-bottom: 4px solid black;}

.foot-git {padding-top: 15px;
}
.foot-text{color:black; 
  text-shadow: -2px 2px 0 white, 2px 2px 0 white;
 }


 .foot-text2 {color:yellow; 
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
  font-size: x-large;
letter-spacing: 2px; }



.comic-map {background-color: wheat;
      /* evita overflow */
  border: 3px solid black;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0,0,0, 0.5);
  border-radius: 40px 40px 40px 40px;
  padding-top: 20px;
  padding-bottom:40px;
  margin-top:40px  !important;
  width:800px;
  margin: 0 auto
}

#path {margin-top: 50px;}

.ex-bubble { background-image: url('../images/comic.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:100px;
  width: 400px; 
  height: 200px; 

}

.ex-bubble h2 {
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: yellow;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
}

.ex-comic{background-color: wheat;
      /* evita overflow */
  border: 3px solid black;
  
  box-shadow: 0 6px 16px rgba(0,0,0, 0.5);
  border-radius: 40px 40px 40px 40px;
 
  margin-top:40px  !important;
  width:400px;
  margin: 0 auto
}
.map-title {color:yellow; 
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;
  font-size: xx-large;
letter-spacing: 3px;}


.room1 {
  fill: red;
  fill-opacity:0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room1:hover {
  fill: red;
   fill-opacity: 1; 
  }

.room2 {
  fill: blue;
  fill-opacity:0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room2:hover {
  fill: blue;
   fill-opacity: 1; 
  }

.room3 {
  fill: green;
  fill-opacity:0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room3:hover {
  fill: green;
   fill-opacity: 1; 
  }

.room4 {
  fill: purple;
  fill-opacity:0.5;
  stroke: #333;
  stroke-width: 0.1em;
  cursor: pointer;
  transition: fill 0.2s, transform 0.2s;
  }
.room4:hover {
  fill:purple;
   fill-opacity: 1; 
  }


.corr-pop {
  fill: yellow;
  stroke: #333;
  stroke-width: 0.1em;
  fill-opacity:0.5
  }

.label-txt {fill: yellow; 
  text-shadow: -2px 2px 0 black, 2px 2px 0 black;}

.img-comic {
  text-align: center;  /* centra il contenuto inline */
}

.img-comic img.item-img {
  display: inline-block; /* necessario per centrare */
  max-width: 100%;       /* si adatta al contenitore */
  height: auto;
  border: 3px solid black;  /* bordo intorno alla foto */
  border-radius: 15px;      /* angoli arrotondati */
  box-sizing: border-box;
  box-shadow: 0 6px 16px rgba(0,0,0, 0.5)
}

.row.meta-data {
  display: flex;
  flex-direction: column;  /* immagine sopra, tabella sotto */
  align-items: center;     /* centra orizzontalmente tutto */
  gap: 20px;               /* spazio tra immagine e tabella */
}

.row.meta-data .col-12.col-md-6:last-child {
  width: 100%; /* tabella prende tutta la larghezza disponibile */
}


.table-responsive {
  display: flex;
  justify-content: center;  /* centra la tabella */
  width: 100%;
}

table#table {
  width: 50%; 
             /* larghezza si adatta al contenuto */
}


#table {
  border-collapse: separate; 
  border-spacing: 0;        
  border-radius: 12px;      
  overflow: hidden;         
  border: 2px solid #333;  
}

#table th, 
#table td {
  border: 1px solid #ccc;    
 
}

.table-txt{color: darkblue !important; 
  text-shadow: -2px 2px 0 yellow, 2px 2px 0 yellow}

#metadataTable td,#metadataTable th {
  background-color: wheat !important;
  
}


.button-diff {
  display:inline-block;
  width: fit-content;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0 9px black;
  margin:auto;
  opacity: 1;
}

.button-diff:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#difficulty { text-align: center}
#ChildrenDifficulty {
background-color: red ;
color: yellow;
text-shadow: -2px 2px 0 black, 2px 2px 0 black;}

#AdultDifficulty {
background-color: purple;
color:yellow;
text-shadow: -2px 2px 0 black, 2px 2px 0 black;}

#card-text-item article {
  border: 3px solid black;
  border-radius: 15px;
  padding: 15px;
  background-color: #fff8dc;
  max-width: 100%;
  display: inline-block;
}
